[Desktop Entry]
Name=Nide
GenericName=Nim Development Tool
Comment=A productive development tool for Nim
Exec=nide %f
Icon=io.github.dneumann42.Nide
Terminal=false
Type=Application
Categories=Development;IDE;
MimeType=text/x-nim;
StartupNotify=true
StartupWMClass=nide
